* {
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  padding: 0;
}
body p {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
body a {
  text-decoration: none;
}
@media screen and (max-width: 1920px) {
  nav {
    width: 100px;
    background-color: black;
    height: 110px;
  }
  .img1 {
    width: 205px;
    height: 62px;
    margin-left: -33px;
    margin-top: 9px;
  }
  .nc {
    margin-left: 42px;
    margin-top: 29px;
  }
  .img2 {
    cursor: pointer;
    width: 33px;
    height: 25px;
    margin-left: 10px;
    margin-top: 10px;
  }
  .p1 {
    font-size: 15px;
    color: white;
    margin-left: 47px;
    margin-top: -27px;
  }
  .search {
    margin-left: 14px;
    margin-top: 24px;
  }
  .search1:placeholder-shown {
    padding-left: 15px;
  }
  .search1 {
    width: 591px;
    height: 60px;
    margin-left: 52px;
    margin-top: -1px;
    background-color: white;
    border: 2px solid black;
    border-radius: 9px;
  }
  .ext {
    margin-left: 494px;
    margin-top: -41px;
  }
  .img3 {
    width: 25px;
    height: 20px;
    margin-left: 5px;
    margin-top: 10px;
    cursor: pointer;
  }
  .add {
    margin-left: 331px;
    margin-top: 32px;
  }
  .img4 {
    width: 23px;
    height: 33px;
    margin-left: 20px;
    margin-top: 10px;
  }
  .p2 {
    margin-left: 46px;
    margin-top: -30px;
    font-size: 17px;
    color: white;
  }
  .acc {
    margin-left: 0px;
    margin-top: 25px;
  }
  .img5 {
    width: 25px;
    height: 25px;
    margin-left: 30px;
    margin-top: 17px;
    cursor: pointer;
  }
  .cart {
    margin-left: 20px;
    margin-top: 27px;
  }
  .img6 {
    width: 35px;
    height: 25px;
    margin-left: 7px;
    margin-top: 15px;
    cursor: pointer;
  }
  .slide img {
    width: 1916px;
    height: 888px;
    object-fit: cover;
  }
}
nav {
  width: 100%;
  background-color: black;
  height: 80px;
  position: fixed;
  margin-top: -80px;
}
.nav {
  display: flex;
}
.img1 {
  width: 215px;
  height: 62px;
  margin-left: 12px;
  margin-top: -6px;
}
.logo {
  margin-left: 114px;
  margin-top: 17px;

}
.nc {
  margin-left: 84px;
  margin-top: 14px;
}
.img2 {
  cursor: pointer;
  width: 32px;
  height: 32px;
  margin-left: 10px;
  margin-top: 10px;
}
.p1 {
  font-size: 23px;
    color: white;
    margin-left: 47px;
    margin-top: -37px;
}
.show {
  position: absolute;
  top: 25px;
  height: 85vh;
  width: 300px;
  background-color: black;
  box-shadow: -10px 0 10px rgb(0, 0, 0);
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  display: none;
}
.img3 {
  width: 25px;
  height: 20px;
  margin-left: 5px;
  margin-top: 10px;
  cursor: pointer;
}
.show a {
  color: white;
  margin-top: 10px;
  margin-bottom: 15px;
}
.k1 {
  margin-top: 20px;
}
.search {
  margin-left: 29px;
    margin-top: 9px;
}
.search1 {
  width: 470px;
  height: 40px;
  margin-left: 50px;
  margin-top: 11px;
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
}
.img3 {
  width: 25px;
  height: 20px;
  margin-left: 5px;
  margin-top: 10px;
  cursor: pointer;
}
.search1:placeholder-shown {
  padding-left: 9px;
  font-size: large;
}
.p2 {
  margin-left: 56px;
  margin-top: -27px;
  font-size: 15px;
  color: white;
}
.img4 {
  width: 36px;
  height: 36px;
  margin-left: 21px;
  margin-top: 10px;
}
.add {
  margin-left: 197px;
  margin-top: 17px;
}
.acc {
  margin-left: 3px;
  margin-top: 14px;
}
.img5 {
  width: 41px;
  height: 34px;
  margin-left: 33px;
  margin-top: 17px;
  cursor: pointer;
}
.cart {
  margin-left: 22px;
  margin-top: 21px;
}
.img6 {
  width: 46px;
    height: 36px;
    margin-left: 7px;
    margin-top: 10px;
    cursor: pointer;
}
.accinfo {
  position: absolute;
  top: 78px;
  height: 80vh;
  width: 300px;
  background-color: black;
  box-shadow: -10px 0 10px rgb(0, 0, 0);
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  display: none;
  left: 1236px;
}
.accinfo p {
  color: white;
  height: 40px;
}
.close {
  width: 25px;
  height: 25px;
  margin-left: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}
.z1,
.z2,
.z3,
.z4,
.z5,
.z6,
.z7 {
  font-size: 20px;
}
.x1 {
  font-size: 15px;
  margin-top: -13px;
}
.x2 {
  font-size: 15px;
  margin-top: -13px;
}
.x3 {
  font-size: 15px;
  margin-top: -13px;
}
.x4 {
  font-size: 15px;
  margin-top: -13px;
}
.x5 {
  font-size: 15px;
  margin-top: -13px;
}
.x6 {
  font-size: 15px;
  margin-top: -13px;
}
.x7 {
  font-size: 15px;
  margin-top: -13px;
}
.z8 {
  font-size: 20px;
  margin-top: 20px;
}
.slides {
  display: flex;
  width: 100%;
  height: 100%;
  animation: slide 12s infinite;
  margin-top: 80px;
  z-index: -1;
  position: relative;
}
.slide {
  width: 100%;
  height: 100%;
}
.slide img {
  width: 1920px;
  height: 840px;
  object-fit: cover;
}
@keyframes slide {
  0% {
    transform: translateX(0%);
  }
  14% {
    transform: translateX(0%);
  }
  18% {
    transform: translateX(-100%);
  }
  32% {
    transform: translateX(-100%);
  }
  36% {
    transform: translateX(-200%);
  }
  50% {
    transform: translateX(-200%);
  }
  54% {
    transform: translateX(-300%);
  }
  68% {
    transform: translateX(-300%);
  }
  72% {
    transform: translateX(-400%);
  }
  86% {
    transform: translateX(-400%);
  }
  90% {
    transform: translateX(-500%);
  }
  100% {
    transform: translateX(-500%);
  }
}
/* @media screen and (max-width:1536px) {
  
} */
